* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-page {
  grid-area: header;
}

#section-details {
  grid-area: details;
}

#content {
  grid-area: area;
}

#article-content {
  grid-area: article;
}

#bottom-page {
  grid-area: footer;
}

#container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "details area article"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 20% 1fr 15%;
  row-gap: 10px;
  column-gap: 10px;

  background-color: aquamarine;
}

#top-page,
#section-details,
#article-content,
#content,
#bottom-page {
  background-color: chocolate;
}
