* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 80px;
  background-color: burlywood;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 20px;
}

.card {
  flex-grow: 0.2;
  flex-basis: 200px;
  padding: 15px 10px;
  margin: 10px;
  background-color: rgb(134, 134, 134);
  border-radius: 20px;
}

.card > img {
  max-width: 100%;
  border-radius: 8px 0px;
}

.card > h2 {
  color: whitesmoke;
  text-align: center;
  padding-top: 10px;
}

.card > p {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 15px;
  color: rgb(218, 218, 218);
}

.card > button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border-width: 0px;
  background-color: whitesmoke;
}

footer {
  width: 100%;
  height: 70px;
  position: absolute;
  background-color: aquamarine;
  bottom: 0;
}
